.bgc-f7f {
  background-color: #f7f8fa;
}
.swiper-block {
  height: 280px;
}
.newsong {
  width: 100%;
  height: 100%;
  .newsong-item {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    .item-img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
    .type-title {
      position: absolute;
      right: 30px;
      bottom: 20px;
      padding: 8px 15px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
    }
  }
}

.reco-block {
  .item-block {
    .scroll-img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
    .sub-title {
      width: 200px;
    }
  }
  .item-block:not(:last-child) {
    padding-right: 20px;
  }
}